<div class="global">

    <h1>O Que Coleta?</h1>
    <hr><br>
    <form action="">
        <input type="checkbox" id="plastico" name="fav_language" value="HTML" class="caixa">
        <label for="plastico"><b>Plástico</b></label><br><br>
        <input type="checkbox" id="papel" name="fav_language" value="HTML" class="caixa">
        <label for="papel"><b>Papel</b></label><br><br>
        <input type="checkbox" id="vifro" name="fav_language" value="HTML" class="caixa">
        <label for="vifro"><b>Vidro</b></label><br><br>
        <input type="checkbox" id="metal" name="fav_language" value="HTML" class="caixa">
        <label for="metal"><b>Metal</b></label><br>

        <div class="botoes">
            <button type="reset"><b>Limpar</b></button>
            <button type="submit"><b>Enviar</b></button>
        </div>
    </form>
</div>