<div class="global">
    <h1>Endereço</h1>
    <hr><br>
    <form action="">
        <label for="endereco"><b>Endereço*:</b></label><br>
        <input type="text" id="endereco">
        <br>
        <br>
        <div class="numero-complemento">
            <div class="campo-numero">
                <label for="numero"><b>Nº*:</b></label><br>
                <input type="text" id="numero">
            </div>
            <div class="campo-complemento">
                <label for="complemento"><b>Complemento:</b></label><br>
                <input type="text" id="complemento">
            </div>
        </div>
        <br>
        <div class="botoes">
            <button type="reset"><b>Limpar</b></button>
            <button type="submit"><b>Enviar</b></button>
        </div>
    </form>
</div>