<section>
    <div class="superior">
        <div class="">
            <app-perfil-foto></app-perfil-foto>

        </div>

        <div>
            <app-perfil-info></app-perfil-info>

        </div>

    </div>


    <div class="inferior">
        <div class="endereco">
            <app-perfil-endereco></app-perfil-endereco>

        </div>

        <div class="coletaEcarga">
            <div class="coleta">
                <app-perfil-coleta></app-perfil-coleta>
            </div>

            <div class="carga">
                <app-perfil-carga></app-perfil-carga>
            </div>
        </div>
    </div>
</section>