<p>card 2</p>

<mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
    <mat-button-toggle value="red">Red</mat-button-toggle>
    <mat-button-toggle value="green">Green</mat-button-toggle>
    <mat-button-toggle value="blue">Blue</mat-button-toggle>
</mat-button-toggle-group>

<mat-card>
    <mat-card-content>Simple card</mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content>Simple card</mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content>Simple card</mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content>Simple card</mat-card-content>
</mat-card>
