section {
    display: flex;
    justify-content: flex-start;

  }
  
  .example-label {
    display: table-cell;
    font-size: 20px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 900px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 12px 12px 12px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 170px;
    flex-direction: column;
  }
  
  button {
    background-color: #2B463C;
    color: white;
  }