<div class="global">

    <div class="caixa-Foto">
        <img src="assets/img/foto-coletor.PNG" alt="Foto-Perfil" class="imagemRedonda">
    </div>
    <br>
    <br>

    <div class="">
        <div class="conjunto-estrelas">
            <mat-icon>
                <span class="estrelas">
                    star
                </span>
            </mat-icon>
            <mat-icon>
                <span class="estrelas">
                    star
                </span>
            </mat-icon>
            <mat-icon>
                <span class="estrelas">
                    star
                </span>
            </mat-icon>
            <mat-icon>
                <span class="estrelas">
                    star
                </span>
            </mat-icon>
            <mat-icon>
                <span class="estrelas">
                    star
                </span>
            </mat-icon>
        </div>
        <div class="nome">
            <h1>Catador da Silva</h1>
        </div>
        <div class="carga">
            <h2>Carga Máxima: 600kg</h2>
        </div>
        <div class="conjunto-localizacao">
            <mat-icon>
                <span class="pin-map">
                    person_pin_circle
                </span>
            </mat-icon>
            <h3>Rio de Janeiro</h3>
        </div>
        <div class="data-entrada">
            <p>Membro desde: 01 de Janeiro de 2024</p>
        </div>
    </div>
</div>