* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.global {
    width: 650px;
    height: 100%;
    background-color: #a9c685;
    border-radius: 20px;
    padding: 10px;
    color: #2b463c;
}

h1 {
    margin-bottom: 5px;
}

hr{
    border:none;
    height: 3px;
    background-color: #2b463c;
}

#nome {
    width: 100%;
    height: 30px;
    border-radius: 10px;
}

#cpf-cnpj {
    width: 100%;
    height: 30px;
    border-radius: 10px;
}
#email {
    width: 100%;
    height: 30px;
    border-radius: 10px;
}

.ddd-celular, 
.ddd-telefone {
    display: flex;
    flex-direction: row;
}


.ddd-celular{
    width: 100%;
    height: 50px; 
    /* background-color: red; */
}

#ddd-cel{
    width: 50px;
    height: 30px; 
    margin-right: 20px;
    border-radius: 10px;
}

.campo-celular{
    width: 100%;
    height: 50px; 
}

#celular {
    width: 300px;
    height: 30px;
    border-radius: 10px;
}

.ddd-telefone{
    width: 100%;
    height: 50px; 
    /* background-color: red; */
}

#ddd-tel{
    width: 50px;
    height: 30px; 
    margin-right: 20px;
    border-radius: 10px;
}

.campo-telefone{
    width: 100%;
    height: 50px; 
}

#telefone {
    width: 300px;
    height: 30px;
    border-radius: 10px;
}


.botoes{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

button{
    padding: 5px;
    margin: 0 5px;
    border-radius: 10px;
    color: white;
    background-color: #2b463c;
    cursor: pointer;
}





