<div class="global">
    <h1>Perfil</h1>
    <hr>
    <form action="">
        <label for="nome"><b>Nome*:</b></label><br>
        <input type="text" id="nome">
        <br>
        <label for="cpf-cnpj"><b>CPF/CNPJ*:</b></label><br>
        <input type="text" id="cpf-cnpj">
        <br>
        <label for="email"><b>E-mail*:</b></label><br>
        <input type="text" id="email">
        <div class="ddd-celular">
            <div class="campo-ddd">
                <label for="ddd-cel"><b>DDD*:</b></label><br>
                <input type="text" id="ddd-cel">
            </div>
            <div class="campo-celular">
                <label for="celular"><b>Celular*:</b></label><br>
                <input type="text" id="celular">
            </div>
        </div>
        <div class="ddd-telefone">
            <div class="campo-ddd">
                <label for="ddd-tel"><b>DDD:</b></label><br>
                <input type="text" id="ddd-tel">
            </div>
            <div class="campo-telefone">
                <label for="telefone"><b>Telefone:</b></label><br>
                <input type="text" id="telefone">
            </div>
        </div>


        <div class="botoes">
            <button type="reset"><b>Limpar</b></button>
            <button type="submit"><b>Enviar</b></button>
        </div>
    </form>
</div>